*.log
*.pyc
ffdb
gin-bin
httpd/httpd
cli/cli
conf/*
!conf/nginx_http.conf
httpd/node_modules
httpd/static/js/*
httpd/static/css/*
httpd/static/manifest.json
cli/tools/*
!cli/tools/*.go
twitter/cookies.json
