<!doctype html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>403 Forbidden - FriendFeed</title>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1" />
  <link rel="stylesheet" href="/static/css/style.css">

  <style type="text/css">
    #body {
      margin-left: 50px;
      width: 100em;
    }
  </style>
  </head>
  <body>
    <div id="body">
      <h1>Forbidden</h1>
      <p><a href="/">Return to the homepage</a></p>
    </div>
  </body>
</html>
