{% extends "layout.html" %}

{% block content %}
  <div id="root">
    {{feed_body|safe}}
  </div>

{% endblock %}

{% block scripts %}
<script>
window.appData = {{appData|safe}};
</script>

  {% if dev %}
  {% for filename in jsFiles %}
  <script src="/app/build/static/js/{{filename}}"></script>
  {% endfor %}
  {% for filename in cssFiles %}
  <link href="/app/build/static/css/{{filename}}" rel="stylesheet" />
  {% endfor %}
  {% else %}
  <script src="/static/js/bundle.min.js"></script>
  {% endif %}
{% endblock %}
