{% extends "layout.html" %}

{% block content %}

<div style="margin-bottom: 2em;">
  <a href="/account/profile">Edit Profile</a> |
  <a href="/account/import">Import Services</a>
</div>

<div id="profile-root">
  <noscript>This page requires JavaScript.</noscript>
</div>

{% endblock %}

{% block scripts %}
<script>
window.profileData = {{profileData|safe}};
</script>

{% if dev %}
  {% for filename in jsFiles %}
  <script type="module" src="/app/build/static/js/{{filename}}"></script>
  {% endfor %}
{% else %}
  <script type="module" src="/{{ jsFile }}"></script>
{% endif %}
{% endblock %}
