<!doctype html>
<head>
  <meta charset="UTF-8" />
  <title>{{ title }} - FriendFeed</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="icon" href="/favicon.ico" sizes="any" />
  {% if dev %}{% for filename in cssFiles %}<link href="/app/build/static/css/{{filename}}" rel="stylesheet" />{% endfor %}
  {% else %}<link href="/{{ cssFile }}" rel="stylesheet" />{% endif %}
  <link rel="stylesheet" href="/static/css/style.css?v={{ styleCssVer }}" />
</head>
<body>
<div id="app-root">
  <noscript>This page requires JavaScript.</noscript>
</div>
<script>
window.pageBootstrap = {{pageBootstrap|safe}};
</script>
{% if dev %}
  {% for filename in jsFiles %}
  <script type="module" src="/app/build/static/js/{{filename}}"></script>
  {% endfor %}
{% else %}
  <script type="module" src="/{{ jsFile }}"></script>
{% endif %}
</body>
</html>
