{% extends "layout.html" %}

{% block content %}

  {% if show_header %}
    <div class="header">
      <div class="picture"><a href="/feed/{{ feed.Id }}"><img src="{{ feed.Picture }}"/></a></div>
      <div class="body">
        <h1><a href="/feed/{{ feed.Id }}">{{ feed.Name|escape }}</a></h1>
        {% if feed.Description %}
          <div class="description">{{ feed.Description }}</div>
        {% endif %}
        {% for command in feed.Commands %}
          {% ifequal command "subscribe" %}
            <form method="post" action="/a/subscribe">
              <input type="hidden" name="next" value="{{ request.path|urlencode }}"/>
              <input type="hidden" name="feed" value="{{ feed.Id }}"/>
              <input type="submit" value="Subscribe"/>
    	</form>
          {% endifequal %}
          {% ifequal command "unsubscribe" %}
    	<form method="post" action="/a/unsubscribe">
              <input type="hidden" name="next" value="{{ request.path|urlencode }}"/>
              <input type="hidden" name="feed" value="{{ feed.Id }}"/>
              <input type="submit" value="Unsubscribe"/>
    	</form>
          {% endifequal %}
        {% endfor %}
      </div>
      <div class="clear"></div>
    </div>
  {% endif %}

  {% if show_share or show_direct %}
  <div class="sharebox" id="shareform">
    <form action="/a/share" method="post" enctype="multipart/form-data" onsubmit="return shareSubmit($(this))">
      <div class="to" style="display: none;">
        <label class="title" for="streams">To:</label>
        <ul class="l_tolist">
          <li class="spacer"></li>
          <li class="l_tocard">My Feed<img title="Delete" class="a_toremove" src="/images/icon/to-delete.png" /></li>
        </ul>
      </div>

      <textarea name="body"></textarea>

      <div class="insert">
        Add: <a href="#" class="l_add_media">Photo</a>
      </div>

      <div class="post">
        <span class="max_info"></span>
        <input class="submit" type="submit" value="{% if show_direct %}Direct message{% else %}Post{% endif %}"/>
        {% if feed.Id == "Home" || feed.Id == "Public" %}
        <input type="hidden" name="feedid" value="{{ current_user.Id }}"/>
        {% else %}
        <input type="hidden" name="feedid" value="{{feed.Id}}" />
        {% endif %}
        <input type="hidden" name="next" value="{% if show_direct %}{% filter urlencode %}/filter/direct{% endfilter %}{% else %}{{ request.path|urlencode }}{% endif %}"/>
      </div>
      <div class="clear"></div>
    </form>
  </div>
  {% endif %}

  <div id="feed" class="feed">
    {% for entry in feed.Entries %}
    <div class="entry" eid="{{ entry.Id }}">
      <div class="picture"><a href="/feed/{{ entry.From.Id }}"><img src="{{ entry.From.Picture }}"/></a></div>
      <div class="body">
        <div class="author">
          <span class="from"><a href="/feed/{{ entry.From.Id }}">{{ entry.From.Name|escape }}</a></span>
          {% if entry.To %}
            <span class="to">to
              {% for recipient in entry.To %}
                <a href="/feed/{{ recipient.Id }}">{{ recipient.Name|escape }}</a>{% if not forloop.Last %},{% endif %}
              {% endfor %}
            </span>
          {% endif %}
        </div>
        <div class="title">{{ entry.Body|safe }}</div>
        {% if entry.Thumbnails %}
          <div class="media">{% for thumbnail in entry.Thumbnails %}<a href="{{ thumbnail.Link|escape }}"><img src="{{ thumbnail.Url|escape }}"{% if thumbnail.Width and thumbnail.Height %} style="width:{{ thumbnail.Width }}px;height:{{ thumbnail.Height }}px"{% endif %} alt=""/></a>{% endfor %}</div>
        {% endif %}
        <div class="info">
          <a href="/e/{{ entry.Id }}" class="permalink">{{ entry.Date|timesince }}</a>
          {% if entry.Via %}
            from <a href="{{ entry.Via.Url|escape }}" class="via">{{ entry.Via.name|escape }}</a>
          {% endif %}
          {% for command in entry.Commands %}
            {% if command != "delete" %}
              {% if command != "edit" %}
                - <a href="#" class="{{ command }}command">{{ command|capfirst }}</a>
              {% endif %}
            {% endif %}
          {% endfor %}
        </div>
        {% if entry.Likes %}
          <div class="likes">
            {% for like in entry.Likes %}
              {% if forloop.Last and not forloop.First %}and{% endif %}
              {% if like.Placeholder %}
                  {{ like.Body }}
              {% else %}
                <a href="/feed/{{ like.From.Id }}">{{ like.From.Name|escape }}</a>{% if not forloop.Last and not entry.Likes|length_is:"2" %},{% endif %}
              {% endif %}
            {% endfor %}
            liked this
          </div>
        {% endif %}
        {% for comment in entry.Comments %}
          <div cid="{{ comment.Id }}" class="comment{% if comment.Placeholder%} placeholder {%endif %}" title="{{ comment.Date }}">
            {% if comment.Placeholder %}
              <a href="#" class="expandcomments">{{ comment.Body|safe }}</a>
            {% else %}
              {{ comment.Body|safe }}
              {% if comment.From %} - <a href="/feed/{{ comment.From.Id }}">{{ comment.From.Name|escape }}</a>{% endif %}
            {% endif %}
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="clear"></div>
    {% endfor %}

    {% if show_paging %}
    <div class="pager bottom">
      <a href="?start={{ prev_start }}">&laquo; Prev</a>
      <a href="?start={{ next_start }}">Next &raquo;</a>
    </div>
    {% endif %}

  </div>

{% endblock %}
