{% extends "layout.html" %}

{% block content %}

<div>
  <h3>Service</h3>
  <ul>
    {% for name, service in graph.Services  %}
    <li>
      <!-- <img src="{{service.Icon}}" alt="{{service.Name}}" /> -->
      <a href="{{service.Profile}}">
        {{ service.Name }}
        {% if service.Username != "" %}: {{ service.Username }}{% endif %}
      </a>
    </li>
    {% endfor %}
  </ul>
</div>

{% if !("twitter" in graph.Services) %}
<div>
  <h3>Import</h3>
  <ul>
    <li>
      <a href="/account/import/twitter">Import Tweet</a>
    </li>
  </ul>
</div>
{% endif %}

{% endblock %}
