{% extends "layout.html" %}

{% block content %}

<div>
  <h3>Service</h3>
  <ul>
    {% for name, service in graph.Services %}
    <li>
      <!-- <img src="{{service.Icon}}" alt="{{service.Name}}" /> -->
      {{ service.Name }}:
      {% if service.Username != "" %}
      <a href="{{service.Profile}}">
        <span> {{ service.Username }} </span>
      </a>,
      {% endif %}
      <a href="/account/service/{{service.Id}}/delete">
        <button style="padding-left: 10px;"> remove {{service.Id}} </button>
      </a>
    </li>
    {% endfor %}
  </ul>
</div>

{% if !("twitter" in graph.Services) %}
<div>
  <h3>Import</h3>
  <ul>
    <li>
      <a href="/account/import/twitter">Import Tweet</a>
    </li>
  </ul>
</div>
{% endif %}

{% endblock %}