body {
    background: white;
    color: black;
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

.page {
    max-width: 960px;
    padding: 30px 25px 25px 25px;
    margin: auto;
    position: relative;
}

img {
    border: 0;
}

a {
    color: #00c;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.header h1 {
    margin: 0;
    font-size: 22px;
}

.header h1 a {
    color: black;
    text-decoration: none;
}

.header .picture {
    float: left;
    line-height: 0;
}

.header .picture img {
    width: 75px;
    height: 75px;
}

.header .body {
    margin-left: 85px;
}

.header,
.sharebox,
.entry,
.share {
    padding-bottom: 12px;
    border-bottom: 1px solid #eee;
    margin-bottom: 12px;
}

.entry:after {
  content: "";
  display: table;
  clear: left;
}

.entry .picture {
    float: left;
    line-height: 0;
}

.header .picture img,
.entry .picture img {
    border: 1px solid silver;
}

.entry .picture img {
    width: 50px;
    height: 50px;
}

@media (max-width: 600px) {
    .entry .picture {
        float: none;
        display: none;
    }
    .entry .picture img {
        display: none;
        width: 0px;
        height: 0px;
    }
}

.entry .body {
    margin-left: 69px;
}

@media (max-width: 600px) {
    .entry .body {
        margin-left: 0px;
    }
}

.entry .media {
    margin-top: 5px;
    margin-bottom: 5px;
    line-height: 0;
}

.entry .media img {
    border: 1px solid silver;
    padding: 2px;
    margin-right: 8px;
}

.entry .author a {
    font-weight: bold;
}

.entry .content,
.entry .info {
    margin-top: 2px;
    /* line-height: 135%; */
    line-height: 1.7;
}

.entry .info,
.entry .likes,
.entry .comment {
    color: #666;
    font-size: 13px;
}

.entry .info a,
.entry .likes a,
.entry .comment a {
    color: #77c;
}

.entry .info a.permalink,
.entry .info a.via {
    color: #666;
}

.entry .likes,
.entry .comment {
    padding-left: 20px;
}

.entry .likes {
    margin-top: 7px;
    background: url("/static/images/smile.png") no-repeat top left;
    line-height: 16px;
}

.entry .comment {
    margin-top: 8px;
    background: url("/static/images/comment-lighter.png") no-repeat top left;
}

.entry .comment.placeholder {
    background: none;
}

.entry a.expandcomments {
    font-style: italic;
}

.entry .comment textarea {
    min-width: 100%;
    max-width: 100%;
    height: 18px;
    padding: 3px;
}

.entry .comment form span {
    display: inline-block;
    text-align: center;
    cursor: pointer;
    padding: 0 10px;
}

.clear {
    clear: left;
}

.header,
.share,
.feed {
    margin-right: 220px;
}

@media (max-width: 600px) {
    .header,
    .sharebox,
    .share,
    .feed {
        width:100%;
        margin-right:0px;
    }
}

.menu {
    float: right;
    width: 155px;
    border: 1px solid silver;
    background: #eee;
    padding: 8px;
}

@media (max-width: 600px) {
   .menu {
       float: none;
       width:100%;
       padding:auto;
   }
}

.menu h3 {
    font-size: 15px;
    margin: 0;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu ul li {
    margin-top: 2px;
}

.menu .section {
    margin-bottom: 15px;
}

/* sharebox */
.sharebox {
    display: flow-root;
}

.sharebox form lable.title{
    display:block;
    float:left;
    width:40px;
}

.sharebox form textarea{
    border:1px solid #BDBDBB;
    width:715px;
    height:60px;
    padding:2px;
    overflow:auto;
    margin-bottom:4px;
}
@media (max-width: 600px) {
    .sharebox form textarea{
        width: 100%;
        max-width: 100%;
    }
    .sharebox form{
        width: 100%;
        max-width: 100%;
    }
    .sharebox form textarea{
        border:1px solid #BDBDBB;
        width: 100%;
        max-width: 100%;
    }
}

.sharebox .max_chars{
    font-size:16px;
    font-weight:bold;
}

.sharebox .insert,
.sharebox .post{
    float:left;
    margin-bottom:0;
    margin-top:4px;
}
.sharebox .post{
    float:right;
    overflow:hidden;
    position:relative;
}
.sharebox .submit{
    font-size:15px;
    font-weight:bold;
    margin-right:0;
    margin-left:15px;
}

div.entry code {
    font-family: monospace, sans-serif;
    background-color: #eeffcc;
    color: #333333;
    line-height: 130%;
    padding: 3px;
    margin: 0 3px;
}

div.entry pre {
    font-family: monospace, sans-serif;
    font-size: 14px;
    line-height: 130%;
    padding: 5px;
    background-color: #eeffcc;
    color: #333333;
    margin: 0;
    border-radius: 2px;
    border: 1px solid #ac9;
    overflow: auto;
    overflow-y: hidden;
    display: block;
}

div.content p,
div.content ol,
div.content ul,
div.content pre {
    margin-block-start: 0.5em;
    margin-block-end: 0.3em;
}

/* @draft-js-plugin/editor */
.editor {
  box-sizing: border-box;
  border: 1px solid #ddd;
  cursor: text;
  padding: 16px;
  border-radius: 2px;
  margin-bottom: 1em;
  background: #fefefe;
  overflow:auto;
}

.editor
.public-DraftEditor-content {
  min-height: 60px;
}

.headlineButtonWrapper {
  display: inline-block;
}

.headlineButton {
  background: #fbfbfb;
  color: #888;
  font-size: 14px;
  border: 0;
  padding-top: 5px;
  vertical-align: bottom;
  height: 34px;
  width: 36px;
}

.headlineButton:hover,
.headlineButton:focus {
  background: #f3f3f3;
}

.bpsgbes{display:inline-block;}
.b181v2oy{background:#fbfbfb;color:#888;font-size:14px;border:0;padding-top:5px;vertical-align:bottom;height:34px;width:36px;}.b181v2oy:hover,.b181v2oy:focus{background:#f3f3f3;outline:0;}.b181v2oy svg{fill:#888;}
.a9immln{background:#efefef;color:#444;}.a9immln svg{fill:#444;}
.tukdd6b{left:50%;-webkit-transform:translate(-50%) scale(0);-ms-transform:translate(-50%) scale(0);transform:translate(-50%) scale(0);position:absolute;border:1px solid #ddd;background:#fff;border-radius:2px;box-shadow:0px 1px 3px 0px rgba(220,220,220,1);z-index:2;box-sizing:border-box;}.tukdd6b:after,.tukdd6b:before{top:100%;left:50%;border:solid transparent;content:' ';height:0;width:0;position:absolute;pointer-events:none;}.tukdd6b:after{border-color:rgba(255,255,255,0);border-top-color:#fff;border-width:4px;margin-left:-4px;}.tukdd6b:before{border-color:rgba(221,221,221,0);border-top-color:#ddd;border-width:6px;margin-left:-6px;}
.s1o2cezu{display:inline-block;border-right:1px solid #ddd;height:24px;margin:0 0.5em;}


/* medium editor */

.md-RichEditor-root {
    padding: 0px !important;
    margin-bottom: 30px;
}

.md-RichEditor-root code {
    background-color: #faf594;

}

.hashtag {
    color: #1CA782;
    font-family: cursive;
}
