body {
    background: white;
    color: black;
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 15px;
}

.page {
    max-width: 925px;
    padding: 25px;
    margin: auto;
    position: relative;
}

img {
    border: 0;
}

a {
    color: #00c;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.header h1 {
    margin: 0;
    font-size: 22px;
}

.header h1 a {
    color: black;
    text-decoration: none;
}

.header .picture {
    float: left;
    line-height: 0;
}

.header .picture img {
    width: 75px;
    height: 75px;
}

.header .body {
    margin-left: 85px;
}

.header,
.sharebox,
.entry,
.share {
    padding-bottom: 12px;
    border-bottom: 1px solid #eee;
    margin-bottom: 12px;
}

.entry:after {
  content: "";
  display: table;
  clear: left;
}

.entry .picture {
    float: left;
    line-height: 0;
}

.header .picture img,
.entry .picture img {
    border: 1px solid silver;
}

.entry .picture img {
    width: 50px;
    height: 50px;
}

@media (max-width: 600px) {
    .entry .picture {
        float: none;
        display: none;
    }
    .entry .picture img {
        display: none;
        width: 0px;
        height: 0px;
    }
}

.entry .body {
    margin-left: 60px;
}

@media (max-width: 600px) {
    .entry .body {
        margin-left: 0px;
    }
}

.entry .media {
    margin-top: 5px;
    margin-bottom: 5px;
    line-height: 0;
}

.entry .media img {
    border: 1px solid silver;
    padding: 2px;
    margin-right: 8px;
}

.entry .author a {
    font-weight: bold;
}

.entry .title,
.entry .info {
    margin-top: 2px;
}

.entry .info,
.entry .likes,
.entry .comment {
    color: #666;
    font-size: 13px;
}

.entry .info a,
.entry .likes a,
.entry .comment a {
    color: #77c;
}

.entry .info a.permalink,
.entry .info a.via {
    color: #666;
}

.entry .likes,
.entry .comment {
    padding-left: 20px;
}

.entry .likes {
    margin-top: 7px;
    background: url("/static/images/smile.png") no-repeat top left;
    line-height: 16px;
}

.entry .comment {
    margin-top: 8px;
    background: url("/static/images/comment-lighter.png") no-repeat top left;
}

.entry .comment.placeholder {
    background: none;
}

.entry a.expandcomments {
    font-style: italic;
}

.clear {
    clear: left;
}

.header,
.sharebox,
.share,
.feed {
    margin-right: 210px;
}

@media (max-width: 600px) {
    .header,
    .sharebox,
    .share,
    .feed {
        width:100%;
        margin-right:0px;
    }
}

.menu {
    float: right;
    width: 155px;
    border: 1px solid silver;
    background: #eee;
    padding: 8px;
}

@media (max-width: 600px) {
   .menu {
       float: none;
       width:100%;
       padding:auto;
   }
}

.menu h3 {
    font-size: 15px;
    margin: 0;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu ul li {
    margin-top: 2px;
}

.menu .section {
    margin-bottom: 15px;
}

/* sharebox */
.submit{
    font-size:15px;
    font-weight:bold;
}

.sharebox div.to li.addedit a{
  display:none;
  margin-left:4px;
}

.sharebox div.to:hover li.addedit a{
  display:inline;
}

.sharebox div.to:hover ul.active li.addedit a{
  display:none;
}

.sharebox form lable.title{
    display:block;
    float:left;
    width:40px;
}

.sharebox form textarea{
    border:1px solid #BDBDBB;
    width:715px;
    height:60px;
    padding:2px;
    overflow:auto;
    margin-bottom:4px;
}
@media (max-width: 600px) {
    .sharebox form textarea{
        width: 100%;
        max-width: 100%;
    }
    .sharebox form{
        width: 100%;
        max-width: 100%;
    }
    .sharebox form textarea{
        border:1px solid #BDBDBB;
        width: 100%;
        max-width: 100%;
    }
}

.sharebox form .submit{
    margin-right:0;
    margin-left:15px;
}

.sharebox .max_chars{
    font-size:16px;
    font-weight:bold;
}

.sharebox .l_tolist{
    border:1px solid #BDBDBB;
    padding-bottom:2px;
    margin-left:40px;
    height:auto!important;
    height:1%;
    overflow:hidden;
    margin-bottom:4px;
    background-color:#FFF;
}

.sharebox .l_toinput{
    padding:3px 0 2px;
    border:none;
}
.sharebox .l_tolist li{
    float:left;
    line-height:22px;
}

ul.l_tolist li.l_tocard{
    border:1px solid #ccc;
    background:#eee;
    padding:0 4px 0px;
    white-space:nowrap;
    margin:2px 2px;
    -border-radius:6px;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
}
.sharebox .l_tolist_input{
    margin:2px 2px;
}
.sharebox .l_toinput{
    padding:3px 0 2px;
    border-width:0px;
}
.sharebox .insert,
.sharebox .post{
    float:left;
    margin-bottom:0;
    margin-top:4px;
}
.sharebox .post{
    float:right;
    overflow:hidden;
    position:relative;
}
